.mainContainer {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  max-width: 1800px;
  margin: 0 auto;
}

.concertName {
  border-bottom: 1px solid #333333;
  white-space: nowrap; /* 한 줄로 유지 */
}
.concertName h1 {
  text-align: left;
  margin-bottom: 7px;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap; /* 한 줄로 유지 */
}

.poster {
  width: 300px;
  height: 413px;
}
.table {
  width: 496px;
  border-collapse: collapse;
  border-radius: 4px;
  overflow: hidden;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
}

.kakaoMap {
  width: 550px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.mainStyle {
  color: #404040;
  font-size: 27px;
  text-align: left;
  font-weight: 600;
}

.subStyle {
  font-size: 25px;
  color: #bcbcbc;
  text-align: left;
  font-weight: 400;
}

.mainStyle,
.subStyle {
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 말줄임표 추가 */
  white-space: nowrap; /* 한 줄로 유지 */
  max-width: 100%; /* 부모 요소의 width에 맞춤 */
}

.btnContainer {
  text-align: right;
}

.summary {
  text-align: right;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.commentArea {
  display: flex;
  flex-direction: column;
  width: calc(33.333% - 10px); /* 1/3 너비에서 간격을 뺀 값 */
  gap: 10px;
}

.calendarContainer {
  text-align: left;
}

.performanceCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 200px;
  cursor: pointer; /* 클릭 가능하게 변경 */
  transition: background-color 0.3s; /* 부드러운 전환 효과 */

  &:hover {
    background-color: #f0f0f0; /* hover 상태 스타일 */
  }
}

.selected {
  background-color: #6e30bf; /* 선택된 상태 스타일 */
  color: white;
}

.selectionArea {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: left;
}

.calendarContainer {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #f0f0f0;
  }
}

.dateCalendar {
  font-family: "Pretendard";
}

.screens {
  margin-bottom: 20px;
}

.screen {
  width: 300px;
  color: white;
  padding: 10px;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #888;
}

.seat_price {
  margin-bottom: 20px;
}

.seat {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 4px;

  &.available {
    background-color: #fff;
    color: #888;

    &:hover {
      background-color: #6e30bf;
      color: white;
      transition: background-color 0.3s;
    }
  }

  &.selected {
    background-color: #6e30bf;
    color: #fff;
  }

  &.reserved {
    background-color: #888; /* 어두운 색상으로 변경 */
    color: #fff;
    cursor: not-allowed; /* 커서를 not-allowed로 변경 */
    pointer-events: none; /* hover를 완전히 제거 */
  }

  &.statusAvailable {
    background-color: #fff;
    color: #888;
    pointer-events: none;
    cursor: default;
  }

  &.statusReserved {
    background-color: #888; /* 어두운 색상으로 변경 */
    color: #fff;
    pointer-events: none;
    cursor: default;
  }

  &.statusSelected {
    background-color: #6e30bf;
    color: #fff;
    pointer-events: none;
    cursor: default;
  }
}

.leftAlignedRow {
  justify-content: flex-start !important;
}

.infoText {
  text-align: center;
  margin-top: 8px; /* 필요에 따라 조정 */
  font-size: 14px;
  color: #000;
}

.statusContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.statusItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px; /* 좌석 사이 간격을 조정 */
}
.spacer {
  width: 40px;
  height: 40px;
}

.seat-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.continue {
  margin-top: 20px;
}

.reservationContainer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 500px;
}

.gridContainer {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.summary p {
  text-align: right;
}

.showComments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 45px;
}
