.commentList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 130px;
  justify-content: space-evenly;
}

.commentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.userInfo {
  display: flex;
  align-items: center;
}

.closeIcon {
  margin-left: auto; /* 자동으로 오른쪽 끝으로 이동 */
  cursor: pointer;
}

.commentHeader .id {
  font-weight: 700;
  color: #333;
}

.commentHeader .date {
  color: #888;
  font-size: 13px;
}

.comment {
  text-align: left;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  justify-content: flex-end;
}

.bottomContainer .point {
  margin-left: 5px;
  font-weight: bold;
  color: #333;
}

.moreLink {
  color: blue;
  cursor: pointer;
  margin-left: 5px;
}

.textarea {
  border: none;
  font-size: 16px;
  resize: none;
  overflow: hidden;
  text-align: left;
}

.textarea:focus {
  outline: none;
}

.submitBtn {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  height: 30px;
  color: #5852d2;
  background-color: #f0efff;
  font-weight: 600;
  font-size: 13px;
}

.submitBtn:disabled {
  background: #f0f0f0;
  color: #333;
}

.content {
  text-align: left;
}

.logginedMenu {
  display: flex;
  gap: 10px;
}

.menu:hover {
  color: #6e30bf;
  cursor: pointer;
}
