.innerContainer {
  margin: 0 auto;
  width: 390px;
}

.innerContainer > * {
  margin-bottom: 30px;
}

.notice,
.emphasize {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.notice {
  font-size: 20px;
  color: #6a6a6a;
  text-align: center;
}

.apiResult {
  color: #0acf83;
  font-size: 25px;
}

.innerMenu {
  font-size: 25px;
}

.innerMenu p {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
  font-weight: 500;
  transition: transform 0.5s ease;
}

.innerMenu p:hover {
  cursor: pointer;
  color: #6e30bf;
  transform: scale(1.05);
}

.buttonArea {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.backButton {
  width: 390px;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  background-color: #cccccc;
  color: white;
  border: none;

  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #999999;
}

.deleteButton {
  width: 390px;
  height: 62px;
  font-weight: 700;
  font-size: 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;

  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #cc0000;
}
