.innerContainer {
  margin: 0 auto;
  width: 390px;
}

.innerContainer > * {
  margin-bottom: 30px;
}

.notice,
.emphasize {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.notice {
  font-size: 20px;
  color: #6a6a6a;
  text-align: center;
}

.apiResult {
  color: #0acf83;
  font-size: 25px;
}
