.innerContainer {
  margin: 0 auto;
  width: 390px;
}

.innerContainer > * {
  margin-bottom: 30px;
}

.notice,
.emphasize {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.notice {
  font-size: 20px;
  color: #6a6a6a;
  text-align: center;
}

.apiResult {
  color: #0acf83;
  font-size: 25px;
}

.innerMenu {
  font-size: 25px;
}

.innerMenu p {
  margin-bottom: 10px;
  text-align: left;
  margin-left: 30px;
  font-weight: 500;
  transition: transform 0.5s ease;
}

.innerMenu p:hover {
  cursor: pointer;
  color: #6e30bf;
  transform: scale(1.05);
}
