.LoginHeader {
    width: 100%;
    border-bottom: 1px solid #BCBCBC;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pageText {
    font-family: 'Pretendard';
    font-size: 30px;
}
