.blueBtn {
  width: 396px;
  height: 62px;
  text-align: center;
  color: #5852d2;
  background-color: #f0efff;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.blueBtn:hover {
  background-color: #d2d1ff; /* 호버 시 배경색 변경 */
  color: #6e30bf; /* 호버 시 텍스트 색상 변경 */
}

.purpleBtn {
  width: 390px;
  height: 62px;
  text-align: center;
  color: #ffffff;
  background-color: #6e30bf;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 700;
  font-size: 20px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.purpleBtn:hover {
  color: #5852d2;
  background-color: #f0efff;
}

.verifyBtn {
  width: 126px;
  height: 62px;
  text-align: center;
  color: #5852d2;
  background-color: #f0efff;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
}

.verifyBtn:hover {
  color: #ffffff;
  background-color: #6e30bf;
}

// 공연 상세 페이지에 있는 버튼 ( 예매하기 및 상세 정보 )
.reservation {
  width: 150px;
  height: 62px;
  text-align: center;
  color: #5852d2;
  background-color: #f0efff;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 500;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  margin: 0;
}

.reservation:hover {
  background-color: #d2d1ff; /* 호버 시 배경색 변경 */
  color: #6e30bf; /* 호버 시 텍스트 색상 변경 */
  transition:
    background-color 0.3s,
    color 0.3s;
}

.seeDetail {
  width: 126px;
  height: 62px;
  text-align: center;
  color: #5852d2;
  background-color: #f0efff;
  // box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
}
