.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style-type: none;

  > * {
    cursor: pointer;
  }
}

.pagination__link {
  transition: all 0.25s;
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
}

.pagination__link:hover {
  background-color: #ddd;
}

.pagination__link__active {
  background-color: #bbb;
  color: #fefefe;
}
