.mainContainer {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  max-width: 1800px;
  margin: 0 auto;
}

.Category {
  display: flex;
  flex-direction: row;
  gap: 45px;
}

.Category p {
  font-size: 20px;
  font-weight: 600;
  position: relative; /* ::after 가상 요소를 사용하기 위해 position 설정 */
  padding-bottom: 5px; /* 밑줄과 텍스트 사이의 간격을 조정 */
  transition: transform 0.5s ease;
}

.Category p:hover {
  color: #6e30bf;
  transform: scale(1.05);
}

.Category p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* 밑줄 두께 */
  background-color: #6e30bf; /* 밑줄 색상 */
  transition: 0.1s ease; /* 부드러운 전환 효과 */
}

.Category p:hover::after {
  width: 100%;
}

.mainInner {
  margin-bottom: 56px;
}

.division {
  margin: 0 auto;
  text-align: center;
}

.showCards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; /* Flexbox의 시작 지점에서 카드 배치 */
  gap: 50px;
}

.notice,
.emphasize {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.notice {
  font-size: 20px;
  color: #6a6a6a;
  text-align: center;
}

.refundButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.refundButton:hover {
  background-color: #cc0000;
}
