/* 전역 css의 스타일링 */
*{
    font-family: 'Pretendard';
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

button:hover{
    cursor: pointer;
}

img:hover{
    cursor: pointer;
}



